{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Технологии</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            HTML
          </li>
          <li class="list-group-item">
            CSS
          </li>
          <li class="list-group-item">
            SQLite
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
    <p>Для создания сайта на Django необходимо освоить: 
      <ul>
        <li>Django ORM;</li>
        <li>создание моделей;</li> 
        <li>работа с миграциями;</li>
        <li>создание суперпользователя;</li>
        <li>регистрация модели в админке;</li>
        <li>создание форм регистраций;</li> 
        <li>декораторы;</li>
        <li>контекст-процессоры;</li>
        <li>paginator.</li>
      </ul>
    </p>
      </article>
  </div>
</div>
{% endblock %} 